.App {
  text-align: center;
  background-color: rgba(25, 29, 58, 1);
  height: 100vh;
}

.body {
  font-family: "Nunito Sans";
}

.heading-lg {
  font-weight: 700;
  font-size: 18px;
}

.heading {
  font-size: 16px;
  font-weight: 700;
}

.heading-sm {
  font-size: 14px;
}

.text-pink {
  color: rgba(253, 100, 129, 1);
}

.bg-pink {
  background-color: rgba(253, 100, 129, 1);
}

.border-pink {
  border-color: rgba(253, 100, 129, 1);
}

.text-pink-dark {
  color: rgba(234, 61, 94, 1);
}

.defaultText {
  --tw-text-opacity: 1;
  color: rgba(84, 86, 113, var(--tw-text-opacity));
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
